<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<form  method="GET" action="#"  th:action="@{/top}">
	<input type="submit" value="TOP">
</form>
<div th:each="bath:${bathList}" >
<form method="GET" 
 th:action="@{'update/'+${bath.bathIntegrationEntitiyId}}">
	<input type="submit" value="編集">
		<p th:text = "${bath.genreId}" >ジャンル：</p><h1 th:text="${bath.bathName}">施設名</h1><br/>
 		評価：<span th:text = "${bath.reviewId}" ></span><br/>		
 		訪れた日：<span th:text = "${bath.recordDate}" ></span><br/> 
		場所：<span th:text = "${bath.address}"></span>
		地域：<span th:text = "${bath.areaId}" >地域：</span><br/>
		営業時間：<span th:text = "${bath.openTime}" ></span>～
		<span th:text = "${bath.closeTime}" ></span><br/>
		料金：<span th:text = "${bath.price}" ></span><br/>
		TEL：<span th:text = "${bath.tel}" ></span><br/>
		露天風呂：<span th:text = "${bath.roten}" ></span><br/>
		サウナ：<span th:text = "${bath.sauna}" ></span><br/>
	 	感想：<span th:text = "${bath.comments}" ></span>
</form>
	<form method="POST"  th:action="@{/top/deleteBathInfo}">
		<input type="submit" value="削除">
		<input type="hidden" name="bathInfoId" th:value="${bath.bathIntegrationEntitiyId}">
	</form>
</div>
</body>
</html>