<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
	<form  method="GET" action="#"  th:action="@{/top}">
	<input type="submit" value="TOP">
	</form>
	
	<form method="post" th:action="@{/top/addBathInfo}">
	 <input type="submit" value="登録">
	</form>

	<form method="post" th:action="@{/top/search}">
	<label for="keyWord"></label>
	<input id="keyWord" name="keyWord" type="text"  th:value="${keyWord}">
	<input type="submit" value="検索">
	</form>
	<table>
	<tr>
		<th>name</th><th>住所</th><th>評価</th>
	</tr>
	<tr th:each="bathInfo:${bathList}">
		
		<td ><a th:href="@{/top/bath/{id}(id=${bathInfo.bathIntegrationEntitiyId})}"><span th:text = "${bathInfo.bathName}" >name</span></a></td>
		<td ><a th:href="@{/top/bath/{id}(id=${bathInfo.bathIntegrationEntitiyId})}"><span th:text = "${bathInfo.address}">住所</span></a></td>
 		<td th:text = "${bathInfo.reviewId}">評価</td>
		
		
	</tr>
	
</table>
</body>
</html>