@charset "UTF-8";
/*header*/
 .header-3 {
  box-sizing: border-box;
  width: 100%;
  background-color: #ACEBFF;
  
  
}
.title{
	display: flex;
}
.logo{
 color: #696969;
  margin: 0 auto;
  float: left;
  
}
.titleGenre{
 color: #696969;
 float: left;
 margin-top:40px;
 margin-right:40px;
}


.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 70px;
  padding: 0 0.8em;
  margin: 0 10px;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  margin-left:100%
}

.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  width: 80px;
  height: 36px;
}
.header-post {
  font-weight: bold;
  color: #000000;
  background: #5AA5FD;
  border: 1px #5AA5FD solid;
  border-radius: 15px;
}
.header-post_top {
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  border: 2px #000000 solid;
  border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .header-post {
    display: none;
  }
}
