<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1　th:text="${title}">新規登録</h1>

<form  method="GET" action="#"  th:action="@{/top}">
	<input type="submit" value="TOP">
</form>
<form  method="post" action="#"  th:action="@{/top/insert}"  th:object="${recordForm}">
	<label for="bathName">施設名：</label>
	<input  id="bathName" name="bathName" type="text" th:value="${bathName}">
<!-- 	<div th:if="${#fields.hasErrors('bathName')}" th:errors="*{bathName}">Name Error</div> -->

	<label for="genreId">ジャンル：</label>
	<select id="genreId"  name="genreId" >
		<option value=1 >旅館</option>
		<option value=2 >ホテル</option>
		<option value=3 >銭湯</option>
		<option value=4 >スーパー銭湯</option>
		<option value=5 >秘湯</option>
	</select><br/>
	<input type="hidden" name="genreId" th:value="${genreId}">
<!-- 	
	<label for="genreName">ジャンル：</label>
	<select　id="genreName"  name="genreId" th:value="${genreId}">
	<option th:each="genre : ${genreName}" th:value="${genre.genreId}" th:text="${genre.genreName}" th:selected="${genre.genreId} == *{genreId}"></option>
	</select><br/>
 -->
 <label for="reviewValue">評価：</label>
 <select id="reviewValue"  name="reviewValue" >
 		<option th:selected="${reviewValue}" >0.0</option>
		<option th:selected="${reviewValue}" >0.5</option>
		<option th:selected="${reviewValue}" >1.0</option>
		<option th:selected="${reviewValue}" >1.5</option>
		<option th:selected="${reviewValue}" >2.0</option>
		<option th:selected="${reviewValue}" >2.5</option>
		<option th:selected="${reviewValue}" >3.0</option>
		<option th:selected="${reviewValue}" >3.5</option>
		<option th:selected="${reviewValue}" >4.0</option>
		<option th:selected="${reviewValue}" >4.5</option>
		<option th:selected="${reviewValue}" >5.0</option>
	</select><br/>
 
<!-- 	
	<span class="rate-wrap">評価：<span class="num" th:value="*{reviewId}"　>3.5</span></span><br/>
 -->		
	<label for="recordDate">訪れた日：</label>
	<input id="recordDate" name="recordDate" type="date" th:value="${recordDate}"><br/>
	
	<label for="address">住所：</label>
	<input id="address" name="address" type="text" th:value="${address}">


 <label for="areaId">地域：</label>
 <select id="areaId"  name="areaId" >
		<option value=1 >札幌市内</option>
		<option value=2 >道央</option>
		<option value=3 >道北</option>
		<option value=4 >道東</option>
		<option value=5 >道南</option>
		<option value=6 >北海道外</option>
	</select><br/>
	<input type="hidden" name="areaId" th:value="${areaId}">
 
 
<!--	
	<label for="areaName">地域：</label>
	<select　id="areaName"  name="areaId" th:value="*{areaId}">
	<option th:each="area : ${areaName}" th:value="${area.areaId}" th:text="${area.areaName}" th:selected="${genre.genreId} == *{genreId}"></option>
	</select><br/>
 -->	
	<label for="openTime">開店時間：</label>
	<input id="openTime" name="openTime" type="text" th:value="${openTime}"><br/>
	<label for="closeTime">閉店時間：</label>
	<input id="closeTime" name="closeTime" type="text" th:value="${closeTime}"><br/>
	<label for="price">料金：</label>
	<input id="price" name="price" type="text" th:value="${price}"><br/>
	<label for="tel">TEL：</label>
	<input id="tel" name="tel" type="text" th:value="${tel}"><br/>
	<label for="roten">露天風呂：</label>
	<input id="roten"  type="checkbox" name="roten" th:checked="${roten}" >
	<label for="sauna">サウナ：</label>
	<input id="sauna"  type="checkbox" name="sauna" th:checked="${sauna}"><br/>

	<label for="comments">感想：</label>
	<textarea rows=5 cols=10 id="comments" name="comments" th:value="${comments}" ></textarea><br/>

	
	<input type="submit" value="登録">
	<input type="hidden" name="bathInfoId" th:value="${bathInfoId}">
</form>
</body>
</html>