<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<form  method="GET" action="#"  th:action="@{/top}">
	<input type="submit" value="TOP">
</form>
<form th:object="${recordForm}" method="GET"  th:action="@{'update/'+${bathInfoId}}">
	<input type="submit" value="編集">
	<p th:text="*{bathName}">施設名</p>
<!--	<span th:text = "${reviewId}" >評価：</span> -->
<!--	<span th:text = "${recordDate}" >訪れた日：</span> -->
		<span th:text = "${address}">場所：</span>
		<span th:text = "${areaId}" >地域：</span><br/>
		<span th:text = "${openTime}" >開店：</span>
		<span th:text = "${closeTime}" >開店：</span><br/>
		<span th:text = "${price}" >価格：</span><br/>
		<span th:text = "${tel}" >tel：</span><br/>
		<span th:text = "${roten}" >露天：</span><br/>
		<span th:text = "${sauna}" >サウナ：</span><br/>
 		<span th:text = "${comments}" >感想：</span> 
<input type="hidden" name="bathInfoId" th:value="${bathInfoId}">
</form>
</body>
</html>